*{
    margin: 0;
}

/* Button style */

.btn-primary{
    color: #005FAC;
    font-size: 20px;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;

}

/* header style */

header{
    background: url(../images/banner/banner3.png);
    height: 758px;
    width: 100%;
    text-align: right;
    margin-bottom: 130px;
    background-position: center;
}
.main-header{
    padding: 216px 230px;

}
.header-title{
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 24px;


}
.header-details{
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 32px;

}

/* main style */

/* about me section */

.about{
    margin: auto 250px;
    display: flex;
    gap: 85px;
    
}
.about-image{
    /* background: #005FAC; */
}
.about-description{
    text-align: left;
    padding-top: 240px;
}
.about-title{
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}
.header-details{
    font-size: 18px;
    color: #444343;
    
}

/* about list style */
.about-list{
    margin-top: 16px;
        
}
li{
    padding: 8px 0;
    list-style: url(../images/icons/check\ \(1\).png);
    color: #444343;
    font-size: 20px;
}
/* plan style */

.plan{
margin-top: 150px;
}
.plan-title{
    color: #151414;
    font-size: 40px;
    text-align: center;
    margin-bottom: 70px;
}
.plan-section{
    display: flex;
    margin: auto 240px;
    text-align: center;
    justify-content: space-around;

}
/* .plan-container{

}
.plan-container-image{

} */
.plan-container-title{
    color: #151414;
    font-size: 30px;
    margin-bottom: 15px;
}
.plan-container-details{
    color: #737272;
    font-size: 25px;
}
/* contract style */
.contract{
    margin: 140px 230px;
    padding: 50px 60px;    
    border-radius: 8px;
    background: url(../images/gradient1.png);
    /* background-image: url(../images/watch.png); */    
}
.contract-quote{
    color: #FFFFFF;
    font-size: 40px;
    margin-bottom: 25px;
}
/* footer style */

footer{
    margin-top: 140px;
    background: #151414;
    display: flex;
    justify-content: space-around;
    padding: 130px 230px;
    text-align: left;
}
/* left footer style */
/* .left-footer{
    

} */
.left-footer-title{
    color: #F8F8F8;
    font-size: 45px;
    margin-bottom: 16px;
}
.left-footer-details{
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 24px;
}
footer img{
    margin: 0 15px;
}
/* right footer style */
/* 
.right-footer{
     
} */
.right-footer-title{
    color: #FFFFFF;
    font-size: 25px;
    margin-bottom: 31px;
}
.input-email{
    color: #FFFFFF;
    width: 100%;
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 16px;
    background: #151414;
    border: #FFFFFF solid 1px;
    margin-bottom: 31px;
}
footer .btn-primary{
    background: #005FAC;
    color: #FFFFFF;
}